@import url(https://fonts.googleapis.com/css?family=Barriecito:400);

body{
  background-image: url('./../../images/back1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: scroll;
}

@layer demo {
  .highlighted-text-shadow {
    text-shadow:
      /* regular text-shadow */
      0 .15ch 15px var(--shadow),
      /* text-shadow highlight */
      0 -2px 0 var(--highlight);
  }
}

.desc{
  width: 700px;
  height: auto;
  padding: 10px;
  border: 5px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  margin: auto;
  text-align: center;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 30px;
  color: #78DFF4;
  margin-top: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


@layer demo.support {
  :root {
    --hue: 212; /* change me */
    --bg: oklch(35% .3 var(--hue));
    --text: oklch(85% .1 var(--hue));
    --shadow: oklch(25% .2 var(--hue));
    --highlight: oklch(98% .05 var(--hue));
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }

  html {
    color: var(--text);
  }

  
  h1 {
    font-family: "Barriecito", system-ui;
    text-align: center;
    font-size: 15vi;
    letter-spacing: -.15ch;
    line-height: .75;
    margin-top: 110px;
  }
  
  small {
    max-inline-size: 30ch;
  }


}
.topnav {
  text-align: center;
  font-family: 'trebuchet MS', sans-serif;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #919CA0;
  color: white;
}