<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/js/css/about.css">
</head>
<body>
    <div class="topnav">
        <a href="/complimentary">Complimentary</a>
        <a href="/triadic">Triadic</a>
        <a href="/tetric">Tetric</a>
        <a href="/hexadic">Hexadic</a>
        <a href="/random">Random</a>
    </div>
    <h1>About Us</h1>
    <div class="about-flex">
        <img src="/static/images/cry.jpg" alt="Crying image">
        <div>
            <h2>Who?</h2>
            <p>This web application was designed and built by Emily Butera, a highschool student interested in pursuing a career in computer engineering and cyber security</p>
        </div>
    </div>
    <br>
    <br>
    <div>
        <a class=AA href="/about/site">Read about this website</a>
    </div>
    <br>
    <br>
    <div>
        <a class=AA href="https://github.com/EmilyButera">My Github</a>
        <a class=AA href="https://www.linkedin.com/in/emily-butera-9aa21b342/">My LinkedIn</a>
    </div>
</body>
</html>