<!DOCTYPE html>
<html>
    <head>
        <title>About Website</title>
        <script src="/static/js/abt.js"></script>
        <link rel="stylesheet" href="/static/js/css/abt.css">
    </head>
</html>
<body>
    <div class="topnav">
        <a href="/complimentary">Complimentary</a>
        <a href="/triadic">Triadic</a>
        <a href="/tetric">Tetric</a>
        <a href="/hexadic">Hexadic</a>
        <a href="/random">Random</a>
    </div>
    <h1>About This Page</h1>
    <p class="AAA">
        This website was created and designed in June of 2025, as a personal project for HackClub Summer Of Making. While it does utilize some suggestions from GitHub co-pilot, it was mainly put together by crying over VScode and StackOverflow.
    </p>
    <br>
    <p>
        This page was made utilizing these:
    </p>

    <div class="holographic-container">
        <div class="holographic-card">
            <img src="/static/images/css.png" alt="CSS logo">
        </div>
        <div class="holographic-card">
            <img src="/static/images/html.png" alt="HTML logo">
        </div>
        <div class="holographic-card">
            <img src="/static/images/js.webp" alt="JavaScript logo">
        </div>
        <div class="holographic-card">
            <img src="/static/images/py.webp" alt="Python logo">
        </div>
        <div class="holographic-card">
            <img src="/static/images/flask.svg" alt="Python logo">
        </div>
    </div>
</body>