<!DOCTYPE html>
<html>
<head>
    <title>ColorMatch</title>
    <script src="/static/js/app.js"></script>
    <link rel="stylesheet" href="/static/js/css/style.css">
</head>
<body>
    <div class="topnav">
        <a href="/complimentary">Complimentary</a>
        <a href="/triadic">Triadic</a>
        <a href="/tetric">Tetric</a>
        <a href="/hexadic">Hexadic</a>
    <br>
    </div>
    <h1 class="highlighted-text-shadow">
        Color<br>
        Match
    </h1>
    <br>
    <br>
    <div>
        <div class="desc">
            <p>
                ColorMatch is a simple web application designed to assist graphic designers, artists, and developers alike in choosing appealing color pallettes.
            </p>
        </div>
        <br>
        </p>
        <div class="button-container">
            <a href="/complimentary" class="b1">Give it a try!</a>
            <a href="/about" class="b2">About us</a>
        </div>
    </div>
</body>