<!DOCTYPE html>
<html>
<head>
    <title>ColorMatch</title>
    <script src="/static/js/app.js"></script>
    <link rel="stylesheet" href="/static/js/css/style.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="index.html">Complimentary</a>
        <a href="/triadic">Triadic</a>
        <a href="otherOther.html">2</a>
        <a href="other3.html">3</a>
    </div>
    <h1>Color Match</h1>
    <p id="FirstText">Drag the sliders to choose your RGB color!</p>
    <fieldset>
        <label for="r">R</label>
        <input type="range" min="0" max="255" id="r" step="1" value="0">
        <output for="r" id="r_out">0</output>
    </fieldset>  

    <fieldset>
        <label for="g">G</label>
        <input type="range" min="0" max="255" id="g" step="1" value="0">
        <output for="g" id="g_out">0</output>
    </fieldset>

    <fieldset>
        <label for="b">B</label>
        <input type="range" min="0" max="255" id="b" step="1" value="0">
        <output for="b" id="b_out">0</output>
    </fieldset>  
    <p>Your color</p>
    <output id="hex">#000000</output>
    <div style="height: 10px;"></div>
    <p>Complimentary color</p>
    <output id="complimentary">#FFFFFF</output>
</body>
</html>