<!DOCTYPE html>
<html>
<head>
    <title>Random</title>
    <script src="/static/js/rand.js"></script>
    <link rel="stylesheet" href="/static/js/css/rand.css">
</head>
<body>
    <div class="topnav">
        <a href="/complimentary">Complimentary</a>
        <a href="/triadic">Triadic</a>
        <a href="/tetric">Tetric</a>
        <a href="/hexadic">Hexadic</a>
        <a class="active" href="/random">Random</a>
    </div>
    <h1>Random Color Generator</h1>
    <p id="FirstText">Generate a random color</p><br>
    <label for="color-count">How many colors?</label>
    <select id="color-count">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br>
    <br>
    <button id="generate-btn">Generate Random Color</button>
    <p>Your color</p>
    <div id="random-color-display" style="display:flex;gap:16px;justify-content:center;"></div>
</body>
</html>