<!DOCTYPE html>
<html>
<head>
    <title>Random</title>
    <script src="/static/js/rand.js"></script>
    <link rel="stylesheet" href="/static/js/css/rand.css">
</head>
<body>
    <div class="topnav">
        <a href="/complimentary">Complimentary</a>
        <a href="/triadic">Triadic</a>
        <a href="/tetric">Tetric</a>
        <a href="/hexadic">Hexadic</a>
        <a class="active" href="/random">Random</a>
    </div>
    <h1>Random Color Generator</h1>
    <p id="FirstText">Generate a random color</p>  
    <button id="generate-btn">Generate Random Color</button>
    <p>Your color</p>
    <div id="random-color-display" style="margin:20px auto;width:200px;height:60px;line-height:60px;text-align:center;font-size:1.2em;font-weight:bold;border-radius:10px;color:#fff;background:#222;">#000000</div>
</body>
</html>