<!DOCTYPE html>
<html>
<head>
    <title>Triadic</title>
    <script src="/static/js/tri.js"></script>
    <link rel="stylesheet" href="/static/js/css/tri.css">
</head>
<body>
    <div class="topnav">
        <a href="/complimentary">Complimentary</a>
        <a class="active" href="/triadic">Triadic</a>
        <a href="/tetric">Tetric</a>
        <a href="/hexadic">Hexadic</a>
        <a href="/random">Random</a>
    </div>
    <h1>Triadic</h1>
    <p id="FirstText">Drag the sliders to choose your RGB color!</p>
    <fieldset>
        <label for="r">R</label>
        <input type="range" min="0" max="255" id="r" step="1" value="0">
        <output for="r" id="r_out">0</output>
    </fieldset>  

    <fieldset>
        <label for="g">G</label>
        <input type="range" min="0" max="255" id="g" step="1" value="0">
        <output for="g" id="g_out">0</output>
    </fieldset>

    <fieldset>
        <label for="b">B</label>
        <input type="range" min="0" max="255" id="b" step="1" value="0">
        <output for="b" id="b_out">0</output>
    </fieldset>  
    <div style="margin: 10px 0;">
        <label for="hex_code">Hex: </label>
        <input type="text" id="hex_code" maxlength="7" placeholder="#000000">
    </div>
    <p>Your color</p>
    <output id="hex">#000000</output>
    <div style="height: 15px;"></div>
    <p>Triadic colors</p>
    <div style="display: flex; gap: 20px; justify-content: center;">
        <output id="triad1">#000000</output>
        <output id="triad2">#000000</output>
    </div>
</body>
</html>